.page.theme_dark {
  --bg-color: #00183f;
  --header-title-color: #db00ff;
  --title-color: #000028;
  --title-bg-color: #ff0070;
  --sub-title-color: #ff0070;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --link-shadow-color: #ff0070;
  --border-color: #ff0070;
  --button-color: #ff0070;
  --button-hover-color: rgb(255 0 112 / 0.4);
  background-image: url(../images/cover-image-dark.png);
}

.page.theme_dark .header__rec-sing {
  visibility: visible;
}

@media (prefers-color-scheme: dark) {

  :root {
    --bg-color: #00183f;
    --header-title-color: #db00ff;
    --title-color: #000028;
    --title-bg-color: #ff0070;
    --accent-color: #ff0070;
    --text-color: #f1b2ce;
    --link-shadow-color: #ff0070;
    --border-color: #ff0070;
    --button-color: #ff0070;
    --button-hover-color: rgb(255 0 112 / 0.4);
  }

  .page {
    background-image: url(../images/cover-image-dark.png);
  }
}
