.page.theme_light {
  --bg-color: #FFF1F7;
  --header-title-color: #FFC2E6;
  --title-color: #353430;
  --title-bg-color: #FF8DCB;
  --sub-title-color: #353430;
  --accent-color: #FF0070;
  --text-color: #353430;
  --link-shadow-color:#FF8DCB;
  --border-color: #353430;
  --button-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.40);
  background-image: url(../images/cover-image-light.png);
}

.page.theme_light .header__rec_sing {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --header-title-color: #FFC2E6;
    --title-color: #353430;
    --title-bg-color: #FF8DCB;
    --sub-title-color: #353430;
    --accent-color: #FF0070;
    --text-color: #353430;
    --link-shadow-color:#FF8DCB;
    --border-color: #353430;
    --button-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.40);
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .page .header__rec_sing {
    visibility: hidden;
  }
}
