:root {
  --bg-color: #00183F;
  --header-title-color: #DB00FF;
  --title-color: #000028;
  --title-bg-color: #FF0070;
  --sub-title-color: #FF0070;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --border-color: #FF0070;
  --button-color: #FF0070;
  --button-hover-color: rgba(255, 0, 112, 0.40);
  --font-famaly: 'IBM Plex Mono', sans-serif;
  --font-size: 18px;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
}